<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单</title>
    <script src="../static/js/echarts.min.js"></script>
</head>
<body>
<div id="main" style="width:800px;height:400px"></div>
<script type="text/javascript">
      // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(document.getElementById('main'));
      var ylist = {{ylist|tojson}};
      var xlist = {{xlist}};

      option = {
      title: {
        text: 'top20商品'
      },
      tooltip: {
        trigger: 'axis',
        axisPointer: {
          type: 'shadow'
        }
      },
      legend: {},
      grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
      },
      xAxis: {
        type: 'value',
        boundaryGap: [0,0.1]
      },
      yAxis: {
        type: 'category',
        data: ylist
      },
      series: [
        {
          name: 'NAME',
          type: 'bar',
          data: xlist
        }
      ]
    };

      myChart.setOption(option);



</script>
<div class="container-form container-signup">
    <form action="/order3.html" method="POST">
        <button class="submit">NEXT</button>
    </form>
</div>
</body>
</html>